body {
  background-color: #0A0E21;
}

.titulo{
  font-family: 'Climate Crisis', cursive;
  color: white;
  text-align: center;
  margin-top: 25px;
}

.row{
  margin-top: 20px;
}

.btn-color{
  background-color: red;
  border-color: red;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  width: 100%;
}

.btn-color:hover{
  background-color: blue;
  border-color: red;
}

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
